/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 9, 2017, 10:25:48 PM
    Author     : s1601378
*/

.root {
    -fx-background-image:url('file:/C:/Users/s1601378/Documents/NetBeansProjects/VillienDatanomienJoulukalenteri/winter.jpg');
}

.button {
    -fx-background-color: transparent;
    -fx-border-style: dotted;
    -fx-border-width: 3px;
    -fx-text-fill: white;
    
}

.button:hover {
    -fx-cursor: hand;
}

#ei-voida-avata {
    -fx-border-color: red;
}

#ei-avattu {
    -fx-border-color: white;
}

#avattu {
    -fx-border-color: green;
}
